Source: wgap
Section: admin
Priority: optional
Maintainer: Frédéric VANNIÈRE <f.vanniere@planet-work.com>
Build-Depends: debhelper (>= 9), dh-python, python-all, python3-setuptools, dh-systemd
Standards-Version: 3.9.5
Homepage: https://www.planet-work.com

Package: wgap-probe
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}, python3-bcc, python3-yaml, python3-pkg-resources, python3-colorlog, python3-netaddr, python3-protobuf
Description: Webserver suspicious activity probe

Package: wgap-collector
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},${python3:Depends} , python3-colorlog
Description: Collector for webserver suspicious activity probes
