[Unit]
Description=Webserver Gets A Probe

[Service]
EnvironmentFile=-/etc/defaults/wgap-probe
ExecStart=/usr/bin/wgap-probe run
ExecReload=/bin/kill -HUP $MAINPID
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
